* {

}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "navigation"
    "main"
    "footer";
}
/* alt font family
font-family: 'Exo', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
 */
.logo-box {
    display: grid;
    position: fixed;
    margin-left:15px;
    margin-top: 0;
    padding:15px 5px 3px 5px;
    background-color: lightgray;
    border-radius:0 0 8px 8px;
}
.logo-box:hover{
    cursor: pointer;
    background-color: rgb(135, 187, 223);
}

.logo-name {
    font-size: 2em;
    display: flex;
    align-items: center;
    font-family: 'Exo', sans-serif;
}
.logo-img {
    height: 50px;
    display: flex;
}

.sidenav-social{
    display: grid;
    grid-template-columns: repeat(5, 45px); 
}

.sll {
    height: 30px;
}

/* side nav */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Open sans';
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /* jumbotron? */

  .jumbotron{
      display: grid;
      width: 100%;
  }
  .jumbo-logo {
      display: flex;
      align-self: center;
      justify-self: center;
      width: 100vw;
  }

 /* about */
  
    .about {
      display: grid;
      grid-template-columns: 30% auto auto;
      height: 540px;
      margin: 0 20px;
    }
  
  .about-logo {
      max-height: 450px;
      padding: 20px;
      grid-column-start: 1;
  }
  .about p {
      display: flex;
      align-self: center;
      grid-column-start: 3;
  }

  /* services */

    .services,
    .portfolios {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto;   
      padding: 0 20px;   
    }

    .card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 50%;
        margin: 0 auto;
    }

    .title {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 0;   
    }
   
    .service-1{
        grid-column-start: 1;
    }
    .title-1 {
        margin: 0;
    }
    .service-2 {
      grid-column-start: 2;
      grid-row-start: 2;
    }

    .service-3 {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .service-4 {
        grid-column-start: 2;
        grid-row-start: 4;
    }

    .portfolios {
        background-color: lightgray;
        grid-gap: 20px;
    }
    .portfolios a {
        text-decoration: none;
        decoration: none;
    }
    .portfolios a:visited {
        color: black;
    }
    .footer {
        height: 1080px;
    }