/* alt font family
font-family: 'Exo', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
 */

* {

}

.grid-container {
    max-width: 1900px;
    margin: 10px 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "navigation"
    "main"
    "footer";
}

.logo-box {
    display: grid;
    position: fixed;
    margin-left:15px;
    margin-top: 0;
    padding:15px 5px 3px 5px;
    background-color: rgba(131, 129, 129, 0.404);
    border-radius:0 0 8px 8px;
    border:2px solid white;
    border-top: none;
}
  
.logo-box:hover{
    cursor: pointer;
    background-color: rgba(135, 187, 223, .404);
}

.logo-name {
    font-size: 2em;
    display: flex;
    align-items: center;
    font-family: 'Exo', sans-serif;
}
.logo-img {
    height: 50px;
    /* display: flex; */
}

/* side nav */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Open sans';
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .sl1{
    grid-column-start: 2;
  }
.sl2 {
    grid-column-start: 3;
}
.sl3 {
    grid-column-start: 4;
}
.sll {
    display: flex;
    justify-content: space-evenly;
    height: 30px;
}
.sidenav-social{
    display: grid;
    grid-template-columns: repeat(5, 45px); 
}
.sidenav-social a{
    padding: 0;
}

.sidenav-social a:hover {
    background: rgba(125, 125, 125, .404) ;
}

  /* main */
  .main {
    max-width: 1900px;
}
/* jumbotron? */

  .jumbo-logo {
    width: 1900px;
}
.jumbo-float {
    position: absolute;
    left: 30%;
    top: 20%;
    background-color: rgba(0, 0, 0, 0.315);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.829);
}
.jumbo-float p {
    display: flex;
    align-items: center;
    font-size: 4em;
    margin: 0;
    color: white;
}

 /* about */
  
 .about {
    max-width:1900px;
    display: grid;
    grid-template-columns: 49% 49%;
    height: 540px;
    padding: 25px 0;
    margin: 0 10px;
}

.about-logo {
  max-height: 450px;
  margin: 20px auto;
  grid-column-start: 1;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
}
.about p {
  display: flex;
  align-self: center;
  grid-column-start: 2;
}

/* services */

.services,
.portfolios {
  display: grid;
  max-width: 1900px;
  grid-template-columns: 49% 49%;
  grid-template-rows: auto;   
  padding: 25px 0;
  margin: 0;   
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}
.card-img {
    height: 300px;
}
.title {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;   
}

.service-1{
    grid-column-start: 1;
}
.title-1 {
    margin: 0;
}
.service-2 {
  grid-column-start: 2;
  grid-row-start: 2;
}

.service-3 {
    grid-column-start: 1;
    grid-row-start: 3;
}

.service-4 {
    grid-column-start: 2;
    grid-row-start: 4;
}

/* portfolios */

.portfolios {
    background-color: lightgray;
    grid-gap: 20px;
}
.portfolios a {
    text-decoration: none;
    decoration: none;
}
.portfolios a:hover {
   background-color : rgba(125, 125, 125, .404);
}
.portfolios a:visited {
    color: black;
}
.footer {
    height: 1080px;
    max-width: 1900px;
    padding: 0;
    margin: 0;        
}